@{
    ViewBag.Title = "Tous les types";
}

<h2>Liste des types</h2>


<div id="content">
    @foreach (PokeListe.Models.Models.TypeViewSimple type in Model)
    {
        <div class="vignette">
            <a href="~/Home/GetType/@type.IdType">
                <div>
                    <img src="~/Content/Img/type/@type.Img" />
                </div>
                <div><br />
                    <h4>@type.Nom</h4>
                </div>
            </a>
        </div>
    }

</div>