@{
    ViewBag.Title = "Home Page";
}

<h2>Liste Pokémons</h2>

<div class="row">
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Image</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody id="listePoke">

            @foreach (PokeListe.Models.Models.PokemonView pokemon in Model)
            {
            <tr>
                <td>@pokemon.Numero</td>
                <td>
                    <img src="~/Content/Img/pokedex/@pokemon.Img" />
                </td>
                <td>@pokemon.Nom</td>
                <td><a href="/Home/Get/@pokemon.IdPokemon">Details</a></td>
            </tr>
            }

        </tbody>
    </table>

</div>